# Core Google Gemini AI model configurations
GEMINI_API_KEY=

# Secure Admin JWT token signature secret
JWT_SECRET=

# Contact Form Nodemailer settings (Optional - will gracefully log in console if not supplied)
EMAIL_USER=
EMAIL_PASS=
EMAIL_SERVICE=
